body, html {
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'Antic Didone', serif;
}

a {
    text-decoration: none;
}

h1 {
    color: #378289;
    font-weight: lighter;
    text-align: center;
}

h2 {
    color: #323232;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 0.08rem;
}

.services-h2-header {
    margin-top: 1.5rem;
}

p, ul, li {
    font-family: 'Hind Siliguri Light', sans-serif;
    font-weight: 300;
    color: #323232;
}

/**************** Header styling ****************/

.header {
    display: flex;
    border-bottom: 10px solid #378289;
    
}

.header h1 {
    font-size: 5rem;
}

.header h2 {
    font-size: 2rem;
}

.header-nav {
    list-style-type: none;
    display: flex;
    margin-top: 3rem;
    margin-right: 5rem;
    text-align: center;
}

.header-nav a {
    text-decoration: none;
}

.header-nav li {
    margin-right: 4rem;
    font-size: 2rem;
    text-align: center;
}

.contact-nav-link a {
    border-left: 1px solid #545454;
    padding-left: 4rem;
}

.home-nav-link {
    padding-right: 2rem;
}

.header-nav li a,
.contact-nav-link a,
.home-nav-link a {
    color: #378289;
}

.services-contact-nav-link a {
    border-left: 1px solid #545454;
    padding-left: 4rem;
}

.header-nav li a:hover,
.contact-nav-link a:hover,
.home-nav-link a:hover {
    color: #545454;
}

.header-nav li a:active,
.contact-nav-link a:active,
.home-nav-link a:active {
    color: #faef00;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
}

.dropdown-content {
    display: none;
    position: fixed;
    z-index: 1;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0.50rem 0 0.75em 0;
    background-color: #f1f1f1;
    border-radius: 2px;
}

.dropdown-content li a {
    font-size: 1.50rem;
    line-height: 2rem;
    color: #323232;
    margin-left: 1rem;
}

.dropdown-content li:hover {
    background-color: #fff;
    width: 100%;
}

.dropdown-content a:hover {
    color: #378289;
}

.dropdown-content a:active {
    color: #faef00;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/**************** Footer styling ****************/

.footer {
    background-color: #378289;
}

.footer-nav ul {
    list-style-type: none;
    margin-top: 2.65rem;
    margin-bottom: 2rem;
}

.footer-nav li {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.75rem;
}

.footer-nav li a {
    color: #fff;
}

.footer-nav li a:hover {
    color: #faef00;
    text-decoration: none;
}

.footer-nav li a:active {
    color: #545454;
}

.footer-nav li.breadcrumbs a {
    color: #faef00;
}

.footer h5 {
    font-size: 1.75rem;
    text-align: center;
    line-height: 2.5rem;
    font-weight: lighter;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/**************** Home page styling ****************/

.home-main h3 {
    margin-top: 1.5em;
    color: #323232;
}

h3 {
    font-weight: lighter;
    font-size: 2em;
}

h3 strong {
    color: #378289;
}

.home-intro-image img {
    max-width: 70vh;
    margin-top: 1.5rem;
}

.about-me {
    margin-top: 2rem;
}

.about-me-image img{
    max-width: 40vh;
    margin-top: 0.5rem;
}

.home-intro-text p,
.about-me-text p {
    font-size: 1.50rem;
    margin-top: 1.50rem;
}

.about-me-header h3 {
    font-size: 3rem;
    color: #378289;
}

.ready {
    text-align: center;
    font-weight: lighter;
    color: #545454;
}

.button a,
.services-button a {
    border: 1.5px solid;
    border-top-color: #378289;
    border-left-color: #378289;
    border-bottom-color: #faef00;
    border-right-color: #faef00;
    text-decoration: none;
    color: #378289;
    font-weight: 500;
    text-align: center;
}

.button a:hover,
.services-button a:hover {
    background-color: #378289;
    color: #fff;
    border-top-color: #faef00;
    border-left-color: #faef00;
    cursor: pointer;
}

/**************** Services page styling ****************/

.services-button {
    display: flex;
    justify-content: center;
}

.coaching-content h4 {
    font-size: 1.65rem;
    color: #545454;
}

.coaching-content ul {
    list-style-image: url('../images/coral-bullet.png');
    padding-bottom: 1.5rem;
}

.coaching-content li {
    padding-top: 1.5rem;
    font-size: 1.15rem;
}

.discovery-header-text h4,
.sixty-header-text h4,
.packages-header-text h4 {
    color: #545454;
    font-size: 2.5rem;
}

.discovery-section-text p > strong,
.coaching-sessions-text p > strong,
.reiki-sessions-text p > strong,
.coaching-packages-text p > strong,
.integrative-healing-text p > strong {
    font-size: 2.25rem;
    color: #378289;
    font-weight: 500;
}

.discovery-section-2 p > strong,
.coaching-sessions-section-2 p > strong,
.reiki-sessions-section-2 p > strong,
.coaching-packages-section-2 p > strong,
.integrative-healing-packages-section-2 p > strong {
    font-size: 1.15rem;
    color: #545454;
    font-weight: 500;
}

.discovery-section-2 li,
.coaching-sessions-section-2 li,
.reiki-sessions-section-2 li,
.coaching-packages-section-2 li,
.integrative-healing-packages-section-2 li {
    color: #378289;
}

.coaching-sessions-section-1,
.coaching-sessions-section-2 {
    display: flex;
}

.coaching-sessions,
.coaching-package {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid lightgray;
}


.title-p strong{
    font-weight: lighter;
    margin-bottom: 0;
}

.coaching-sessions .title-p, 
.coaching-package .title-p {
    margin-top: 2.5rem;
}

.promise p {
    margin-top: 3rem;
    padding-bottom: 1.5rem;
}

.promise p > strong { 
    color: #378289;
}

/**************** Contact page styling ****************/

.contact-main h3 {
    margin-top: 2.65rem;
    color: #378289;
    font-size: 2rem;
}

/* form label {
    font-family: 'Antic Didone', serif;
    font-size: 1.15rem;
} */

.contact-main {
    display: flex;
    justify-content: center;
}

.contact-intro-text p {
    width: 80%;
    font-size: 1.25rem;
}

.contact-section-2 {
    margin-top: 2.5rem;
}

.image-quote {
    background-image: url('../images/india-hike.JPG');
    background-repeat: no-repeat;
    height: 320px;
    width: 320px;
}

.image-quote-text {
    padding: 6rem 0 0 1.5rem;
    font-size: 1.5rem;
}

.image-quote-text p {
    font-family: 'Antic Didone', serif;
}

.quote {
    color: #545454;
    margin-bottom: 0.75rem;
    line-height: 2.25rem;
}

.author {
    color: #fff;
    padding-top: 0;
    margin-top: 0;
}

.booking-sessions h4 {
    font-family: 'Hind Siliguri Light', sans-serif;
    font-weight: 500;
    color: #378289;
    font-size: 1.25rem; 
    margin-bottom: 1rem;
}

.booking-sessions p {
    color: #545454;
    padding: 0;
    margin: 0.45rem 0 0 0;
}

.smaller {
    font-size: 0.80rem;
}

.booking-sessions strong {
    color: #323232;
    font-weight: 500;
}

.details {
    margin-top: 1.5rem;
}

/* 
#contact-form textarea {
    min-width: 250px;
    max-width: 400px;
    min-height: 150px;
    max-height: 225px;
}

#contact-form p {
    line-height: 1.5rem;
}

#contact-form .message {
    line-height: 2.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
} 
*/

.contact-smaller {
    font-size: 0.75rem;
    margin-top: 0;
    padding-top: 0;
}

/* .submit {
    font-family: 'Antic Didone', serif;
    font-size: 1.15rem;
    color: #323232;
    background-color: #ffffff;
    padding: 0.50rem 1.5rem 0.50rem 1.5rem;
    border: 2px solid #378289;
}

.submit:hover {
    background-color: #378289;
    color: #fff;
    cursor: pointer;
} */

.button .contact-button {
    margin-top: 2.75rem;
}

/************** STYLING FOR MOBILE (IPHONE 5+) **************/


@media only screen and (min-width: 320px) {

    .header-image img {
        min-height: 100%;
        min-width: 50%;
    }

    .header-text {
        background-color: rgba(255, 255, 255, 0.85);
    }

    .header-text .header-nav {
        margin-left: 0;
        display: block;
    }

    .footer-nav ul {
        display: block;
    }

    .home-header-text h3 {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 3rem;
        text-align: center;
        width: 90%;
        margin-top: 3rem;
    }

    .home-main .home-intro-text {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .home-main {
        display: block;
    }

    .mobile-succulents {
        max-width: 100%;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .home-intro-image img {
        display: none;
    }

    .about-me-header h3 {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 3rem;
    }

    .about-me {
        display: block;
    }

    .about-me-image img{
        max-width: 43vh;
        margin-top: 0.5rem;
        margin-left: 3rem;
    }

    .home-intro-text p,
    .about-me-text p {
        font-size: 1.75rem;
        margin-top: 2.5rem;
    }

    .about-me-text p {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .home-contact {
        display: block;
        margin-top: 2rem;
    }

    .ready {
        font-size: 2rem;
        max-width: 100%;
        padding-right: 6rem;
        padding-left: 4rem;
    }

    .footer-nav li:nth-child(1),
    .footer-nav li:nth-child(2) {
        border-right: none;
    }

    .button {
        margin-top: 3rem;
        margin-bottom: 5rem;
        margin-left: 4.75rem;
    }

    .button a,
    .services-button a {
        padding: 1.50rem;
        font-size: 1.75rem;
    }

    .services-button {
        margin-bottom: 4rem;
        margin-top: 2rem;
    }

    .reiki-sessions-section-1,
    .coaching-packages-section-1, 
    .integrative-healing-packages-section-1 {
        display: flex;
        margin-top: 2rem;
    }

    .discovery-section-1 ,
    .discovery-section-2,
    .reiki-sessions-section-2,
    .coaching-packages-section-2,
    .coaching-sessions-section-2,
    .integrative-healing-packages-section-2 {
        display: block;
    }


    .discovery-section-2 {
        justify-content: center;
    }

    .contact-main {
        display: block;
    }

    .integrative-healing-packages-section-1 img,
    .coaching-packages-section-1 img,
    .coaching-sessions-section-1 img,
    .reiki-sessions-section-1 img,
    .discovery-section-image img {
        max-width: 100vw;
        max-height: 100vh;
    }

    .services-main-nav .services-nav ul {
        display: block;
        list-style-type: none;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .services-main-nav .services-nav li {
        padding-bottom: 1.5rem;
        font-size: 2rem;
    }

    .services-main-nav .services-nav li a {
        text-decoration: none;
        padding: 1.50rem;
        color: #378289;
    }

    .services-main-nav .services-nav li a:hover {
        background-color: #378289;
        color: #fff;
    }

    .services-main-nav .services-nav li a:active {
        color: #faef00;
    }
    
    .services-header h3 {
        padding-left: 2rem;
        font-size: 3rem;
        padding-bottom: 2rem;
        padding-top: 1.5rem;
    }

    .coaching-sessions-section-1,
    .reiki-sessions-section-1,
    .coaching-packages-section-1,
    .integrative-healing-packages-section-1 {
        display: block;
    }

    .coaching-content h4 {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 2.75rem;
    }

    .coaching-content ul {
        padding-right: 2rem;
    }

    .coaching-content li { 
        font-size: 2rem;
    }

    .discovery-header-text h4,
    .sixty-header-text h4,
    .packages-header-text h4 {
        padding-left: 2rem;
        font-size: 3rem;
    }

    .discovery-header{
        margin-top: 4rem;
    }

    .sixty-header,
    .packages-header {
        margin-top: 8rem;
    }

    .discovery-section-text,
    .reiki-sessions-text,
    .coaching-sessions-text,
    .coaching-packages-text,
    .integrative-healing-text {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        width: 85%;
    }

    .discovery-section-text p {
        max-width: 100vw;
        font-size: 2rem;
    }

    .sessions-duration,
    .reiki-duration,
    .packages-duration { 
        margin-left: 1rem;
        margin-right: 2rem;
        width: 90%;
    }

    .discovery-price {
        margin-right: 5rem;
        width: 40%;
    }

    .discovery-duration,
    .discovery-price,
    .sessions-price,
    .sessions-duration,
    .packages-price,
    .packages-duration,
    .reiki-price,
    .reiki-duration {
        margin-left: 2.5rem;
        margin-top: 2rem;
    }

    .discovery-duration ul,
    .discovery-price ul,
    .sessions-duration ul,
    .sessions-price ul,
    .packages-duration ul,
    .packages-price ul,
    .reiki-duration ul,
    .reiki-price ul {
        padding-left: 1.15rem;
        font-size: 1.75rem;
    }

    .discovery-duration p > strong,
    .sessions-duration p > strong,
    .reiki-duration p > strong,
    .packages-duration p > strong,
    .discovery-price p > strong,
    .sessions-price p > strong,
    .reiki-price p > strong,
    .packages-price p > strong {
        font-size: 2rem;
    }

    .title-p {
        font-size: 2.25rem;
        margin-left: 1rem;
    }

    .reiki-sessions-section-1,
    .integrative-healing-packages {
        margin-top: 4rem;
    }

    .promise {
        width: 90%;
        margin-left: 2rem;
        padding-right: 2rem;
    }

    .contact-section-1 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
}


/************** STYLING FOR LARGE DEVICES (IPAD) **************/

@media only screen and (min-width: 768px) {
    
    .header-text .header-nav {
        margin-left: 4rem;
        display: flex;
    }


    .header-image img {
        max-height: 100%;
        max-width: 100%;
    }

    .home-header-text h3 {
        text-align: left;
    }

    .header-text {
        background-color: transparent;
    }

    .home-main .home-intro-text {
        padding-left: 6rem;
        padding-right: 6rem;
        display: inline;
    }

    .home-intro-text p {
        margin-top: 2rem;
    }

    .mobile-succulents {
        max-width: 75%;
        margin-left: 6rem;
    }

    .home-contact {
        display: flex;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .about-me {
        display: flex;
    }

    .about-me-image img{
        max-width: 40vh;
        margin-top: 0.5rem;
        margin-left: 3.5rem;
    }

    .about-me-text p {
        margin-top: 1rem;
    }

    .button {
        margin-top: 2.5rem;
    }

    .ready {
        font-size: 1.75rem;
        max-width: 80%;
        padding-right: 0;
        padding-left: 5rem;
    }

    .footer-nav li:nth-child(1),
    .footer-nav li:nth-child(2) {
        border-right: 1px solid #f1f1f1;
    }

    .button a,
    .services-button a {
        padding: 1.50rem;
        font-size: 1.50em;
    }

    .discovery-section-1,
    .discovery-section-2 {
        display: flex;
        margin-top: 2rem;
    }

    .reiki-sessions-section-1,
    .integrative-healing-packages {
        margin-top: 4rem;
    }

    .discovery-section-image img {
        max-width: 40vw;
        max-height: 40vh;
    }

    .integrative-healing-packages-section-1 img,
    .coaching-packages-section-1 img {
        max-width: 40vw;
        max-height: 20vh;
    }

    .services-main-nav .services-nav ul {
        display: flex;
        padding-bottom: 6rem;
    }

    .discovery-li, 
    .sixty-li,
    .packages-li {
        padding-left: 8rem;
    }

    .services-main-nav .services-nav li a {
        text-decoration: none;
        padding: 1.50rem;
        color: #378289;
    }

    .services-main-nav .services-nav li a:hover {
        background-color: #378289;
        color: #fff;
    }

    .services-main-nav .services-nav li a:active {
        color: #faef00;
    }

    .coaching-sessions-section-1,
    .reiki-sessions-section-1,
    .coaching-packages-section-1,
    .integrative-healing-packages-section-1 {
        display: block;
    }

    .discovery-section-1 ,
    .discovery-section-2,
    .reiki-sessions-section-2,
    .coaching-packages-section-2,
    .coaching-sessions-section-2,
    .integrative-healing-packages-section-2 {
        display: flex;
    }

    .contact-main {
        height: 55vh;
    }

}

/************ STYLING FOR IPAD (TILTED) TO DESKTOP ************/

@media only screen and (min-width: 990px) {
    
    .header-text {
        width: 40%;
        margin-top: 2rem;
        text-align: center;
    }

    .home-header-text h3 {
        font-size: 4rem;
    }

    .header-text .header-nav {
        margin-left: 8rem;
    }

    .header-image img {
        max-width: 100%;
    }

    .footer-nav ul {
        display: flex;
    }

    .home-main {
        display: flex;
    }

    .home-intro-image img {
        display: inline-flex;
    }

    .mobile-succulents { 
        display: none;
    }

    .about-me {
        display: flex;
    }

    .home-intro-text p,
    .about-me-text p {
        font-size: 2rem;
        margin-top: 1.50rem;
    }

    .home-contact {
        display: flex;
        margin-top: 2rem;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .ready {
        font-size: 2.5rem;
        width: 100%;
        padding-right: 2rem;
        margin-top: 5rem;
    }

    .button {
        padding-top: 5rem;
    }

    .button a,
    .services-button a {
        padding: 1.50rem;
        font-size: 1.50em;
    }

    .services-main-nav .services-nav ul {
        padding-bottom: 6rem;
    }

    .discovery-li, 
    .sixty-li,
    .packages-li {
        padding-left: 8rem;
    }

    .services-header h3 {
        padding-left: 6rem;
        font-size: 4rem;
        padding-bottom: 4rem;
        padding-top: 2rem;
    }

    /***** Services page images styling ******/

    .discovery-section-image img {
        max-width: 60vw;
        max-height: 40vh;
        padding-left: 4rem;
    }

    .integrative-healing-packages-section-1 img,
    .coaching-packages-section-1 img {
        max-width: 60vw;
        max-height: 40vh;
        padding-left: 0;
    }

    .coaching-sessions-section-1,
    .reiki-sessions-section-1,
    .coaching-packages-section-1,
    .integrative-healing-packages-section-1 {
        display: block;
        padding-left: 8rem;
    }

    .title-p {
        font-size: 2rem;
    }

    .discovery-section-text {
        width: 60%;
    }

    .discovery-section-text p {
        max-width: 50vw;
    }

    .discovery-header-text,
    .sixty-header-text,
    .packages-header-text {
        padding-left: 8rem;
    }

    .coaching-content {
        padding-left: 8rem;
    }

    .contact-main {
        padding: 0 12rem 3rem 12rem;
        height: 100%;
    }

    
}




